@model WebApplication1.Models.Alumno

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Está seguro de esto?</h3>
<div>
    <h4>Alumno</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Legajo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Legajo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AñoIngreso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AñoIngreso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AñoCursado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AñoCursado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Localidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Localidad.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Curso.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Curso.Descripcion)
        </dd>
        <dd>
            <img src="~/images/Alumnos/@Model.FotoCarnet" height="80" width="80" asp-append-version="true" />
            <!--<img src="~/images/Alumnos/FotoCarnet.png" height="80" width="80" asp-append-version="true" />-->
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a class="btn btn-info" asp-action="Index">Listado</a>
    </form>
</div>
