@model WebApplication1.Models.Alumno

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Alumno</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Legajo" class="control-label"></label>
                <input asp-for="Legajo" class="form-control" />
                <span asp-validation-for="Legajo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AñoIngreso" class="control-label"></label>
                <input asp-for="AñoIngreso" class="form-control" />
                <span asp-validation-for="AñoIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AñoCursado" class="control-label"></label>
                <input asp-for="AñoCursado" class="form-control" />
                <span asp-validation-for="AñoCursado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalidadId" class="control-label"></label>
                <select asp-for="LocalidadId" class="form-control" asp-items="ViewBag.LocalidadId"></select>
                <span asp-validation-for="LocalidadId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CursoId" class="control-label"></label>
                <select asp-for="CursoId" class="form-control" asp-items="ViewBag.CursoId"></select>
                <span asp-validation-for="CursoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img src="~/images/Alumnos/@Model.FotoCarnet" id="image" height="80" width="80" asp-append-version="true" />

                <input asp-for="FotoCarnet" type="file" id="img" class="form-control" />
            </div>
            <input type="hidden" asp-for="FotoCarnet" />

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AlumnosCatedras[0].Catedra)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AlumnosCatedras[0].Cuatrimestre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AlumnosCatedras[0].FechaInscripto)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AlumnosCatedras)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Catedra.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cuatrimestre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaInscripto)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", "AlumnoCatedras", new { idAlumno = item.AlumnoId, idCatedra = item.CatedraId })
                    </td>
                    
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-action="Index">Listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/images.js"></script>